* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #05010a;
    font-family: Consolas, monospace;
    overflow: hidden;
}

/* 🌌 ESTRELLAS */
.stars {
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
}

.stars::before,
.stars::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background-image: radial-gradient(circle, #c084fc 1px, transparent 1px);
    background-size: 50px 50px;
    opacity: 0.15;
    animation: moveStars 60s linear infinite;
}

.stars::after {
    opacity: 0.08;
    animation-duration: 120s;
}

@keyframes moveStars {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-500px, -500px);
    }
}

/* 🌌 HERO */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 💻 PORTÁTIL */
.laptop {
    perspective: 1200px;
}

.screen {
    width: 750px;
    height: 420px;

    background: rgba(10,10,10,0.95);
    border: 2px solid #c084fc;

    border-radius: 12px 12px 0 0;

    padding: 40px;

    transform-origin: bottom;
    animation: open 1.8s ease forwards;

    box-shadow:
        0 0 25px #c084fc,
        0 0 60px #a855f7;
}

/* teclado */
.keyboard {
    width: 780px;
    height: 40px;
    background: #111;
    border-radius: 0 0 18px 18px;
    margin-left: -15px;
    box-shadow: 0 0 20px #7c3aed;
}

/* ✨ ANIMACIÓN PORTÁTIL */
@keyframes open {
    from {
        transform: rotateX(-90deg);
        opacity: 0;
    }
    to {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

/* TEXTO */
.name {
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 0 0 20px #c084fc;
    margin-bottom: 10px;
}

.role {
    color: #c084fc;
    margin-bottom: 30px;
}

.info p {
    color: #ddd;
    margin: 8px 0;
}
