*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    transition: 0.5s;
}

/* 🌙 DARK (default) */
body.dark{
    background:#0b0b0b;
    color:white;
}

/* ☀️ LIGHT */
body.light{
    background:#eaf6ff;
    color:#111;
}

/* HEADER */
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 25px;

    background:rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);

    z-index:1000;
}

body.light .header{
    background:rgba(255,255,255,0.6);
}

/* LOGO */
.logo{
    font-weight:bold;
}

/* BOTONES */
.right{
    display:flex;
    gap:10px;
}

/* ========================= */
/* 🌙☀️ SWITCH               */
/* ========================= */

.switch{
    border:none;
    background:transparent;
    cursor:pointer;
}

.track{
    width:110px;
    height:45px;
    border-radius:50px;

    position:relative;
    overflow:hidden;

    background: linear-gradient(to right, #87ceeb, #cfefff);
    transition:0.5s;
}

/* DARK MODE TRACK */
body.dark .track{
    background: linear-gradient(to right, #0b1026, #1a1b3a);
}

/* ☁️ NUBES */
.clouds::before,
.clouds::after{
    content:"";
    position:absolute;
    width:18px;
    height:18px;
    background:white;
    border-radius:50%;
    top:12px;
    left:12px;
    box-shadow:10px 5px 0 white, 20px 10px 0 white;
}

/* 🌌 ESTRELLAS */
.stars{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
}

.stars::before{
    content:"✦ ✦ ✦";
    position:absolute;
    color:white;
    font-size:10px;
    top:12px;
    left:20px;
    letter-spacing:8px;
}

/* activar en oscuro */
body.dark .stars{
    opacity:1;
}

/* ocultar nubes en oscuro */
body.dark .clouds{
    opacity:0;
}

/* KNOB */
.knob{
    width:38px;
    height:38px;

    background:white;
    border-radius:50%;

    position:absolute;
    top:3px;
    left:3px;

    display:flex;
    justify-content:center;
    align-items:center;

    transition:0.4s;
}

/* mover a modo oscuro */
body.dark .knob{
    left:69px;
    background:#1e1e2f;
}

/* icono */
.icon{
    font-size:16px;
}

/* CONTENT */
.content{
    padding-top:90px;
    padding-left:25px;
}
.lang-switch{
    display:flex;
    gap:8px;
}

.flag-btn{
    width:42px;
    height:42px;

    border:none;
    border-radius:12px;

    cursor:pointer;

    background:rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);

    display:flex;
    justify-content:center;
    align-items:center;

    transition:0.3s;
}

.flag-btn svg{
    width:24px;
    height:24px;

    border-radius:4px;
}

/* hover */
.flag-btn:hover{
    transform:scale(1.1);
}

/* activo */
.flag-btn.active{
    outline:2px solid #a855f7;
    transform:scale(1.1);
}

/* modo claro */
body.light .flag-btn{
    background:rgba(0,0,0,0.08);
}
